body {
    background-image: url(galaxy.jpg);
    margin: 0;
    padding: 0;
    
}

label {
    display: block;
    padding: 0.3rem 0;
}
.wrapper {
    display: flex;
    flex-flow: row nowrap;
    padding: 1em;
    padding-left: 2rem
}
.orangecontainer {
    background-color: coral;
    width: 80%;
    margin: 0 auto;

}
h1, h2, p {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
}
aside {
    flex-basis: 33%;
}
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
    width: 20rem;
    border-radius: 10px;
    display: block;
    margin-bottom: 1rem;
}
section {
    margin-right: 15%;
    flex-basis: 50%;
    
}
legend {
    font-weight: bold;
    font-size: 1.2rem;
}
fieldset {
    border-radius: 10px;
    margin-bottom: 2rem;
    border: 1px solid black;
}
button {
    font-size: 1rem;
    margin: 1.5rem 0;
	background-color: #bb342f;
	color: azure;
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
}
textarea {
    margin-bottom: 0.5rem;
}
select {
    margin-bottom: 2rem;
}
iframe {
    border-radius: 10px
}
nav {
    margin-top: 0;
    margin-bottom: 0.8em;
}
nav li {
    display: inline-block;
}
nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid black;
}
nav a {
    display: block;
    padding: 1rem;
}
nav a:hover {
    background-color: blue;
    color: orangered;
    border-radius: 5px;
}
.footernav {
    margin-top: 2rem;
    border-top: 1px solid black;

}
h6 {
    text-align: center;
}